*{
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
    text-align: center;
    margin-bottom: 30px;
    font-size: 175%;
}

div.container{
    background-color: gray;
    border: 1px solid black;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0px 5px 10px 10px;
    position: relative;
    margin-bottom: 10px;
}

.container > div{
    font-size: 125%;
    width: 150px;
    text-align: center;
    font-weight: bold;
    border: 1px solid black;
    height: 30px;
    position: absolute;
    right: 0px;
}

div.title1{
    background-color: pink;
}

div.title2{
    background-color: brown;
    color: white;
}

div.title3{
    background-color: tan;
}

p{
    padding-top: 30px;
}

@media (min-width:992px){
    .col-ld{
        float: left;
        width: 33.33%;
    }
}

@media (min-width:768px) and (max-width:991px){
    .col-md{
        float: left;
        width: 50%;
    }
    .col-md1{
        float: left;
        width: 100%;
    }
}